# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
libmng.so
libmng.so.*
Makefile
Makefile.in
aclocal.m4
configure
config.cache
config.sub
config.guess
config.log
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
